__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.vercel
nohup.out
*.mp4
*.mkv
*.webm
downloads/
uploads/
debug_*.png
debug_*.py
database/scan_status.json
