python-dotenv
tinydb
pymongo
dnspython
certifi
twilio
sendgrid
requests
fake-useragent
geopy
schedule
# rumps (Disabled for Vercel/Linux compatibility)
# rumps
flask
playwright==1.44.0
streamlit
pandas
beautifulsoup4
